*{
    padding: 0;
    margin: 0;
}

.box{
    display: flex;
    flex-direction: row;
}

.box1{
    background-color: rgb(8, 189, 8);
    width: 100%;
    height: 100vh;
}

h1{
    display: flex;
    margin-top: 350px;
    margin-left: 100px;
}
h3{
   display: flex;
   margin-left: 100px; 
}

.box2{
    width: 100%;
    background-color: rgb(178, 218, 118);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 250px;
    height: 140px;
}
button{
    background-color: rgb(8, 189, 8);
    width: 180px;
    height: 28px;
    color: white;
    margin-top: 8px;
}
input{
    width: 177px;
    height: 26px;
}
.imagem1{
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}